.container {
  border: 1px solid gray;
  border-radius: 5px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.first-row {
  line-height: 20px;
}

.CityName {
  font-weight: 900;
  font-size: 30px;
  padding: 3px;
}

.WeatherInfo {
  font-size: 15px;
  padding: 0;
  margin: 0;
}

.TodayTemperature {
  display: flex;
  align-items: center;
}

.TodayTemperature .TemperatureValue {
  font-size: 40px;
}

.TodayTemperature .TemperatureUnit {
  font-size: 20px;
  position: relative;
  top: -5px;
}
